# Python
__pycache__/
*.py[cod]
*.so
.Python

# Тестовые артефакты
reports/
screenshots/
allure_results/
/logs
.pytest_cache/
.tox/

# IDE
.vscode/
.idea/
*.swp

# Виртуальное окружение
venv/
env/
ENV/